flask==3.0.0
flask-socketio==5.3.6
flask-login==0.6.3
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
flask-bcrypt==1.0.1
gtts==2.4.0
PyPDF2==3.0.1
pygame==2.6.1
pyttsx3==2.90
openai==1.12.0
python-socketio==5.10.0
eventlet==0.33.3
requests==2.31.0
wtforms==3.1.1
email-validator==2.1.0